* {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.dash_sidebar {
    display: flex;
    width: 15vw;
    height:100vh;
    background-color: #444;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 3px 30px 0px #333333 ;
}

.dash_title_container {
    width: 15vw;
    height: 5em;
    background-color: #CCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.dash_title_container h3 {
    font-size: 20pt;
    /* margin-left: 20px; */
}

.dash_nav_liste {
    list-style: none;
    padding: 0;
}

.dash_nav_liste li {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #666;
}

.dash_nav_liste li:hover {
    background-color: #CCC;
}

.dash_nav_liste li:hover a {
    color: #444;
}

.dash_nav_liste li a {
    color: #CCC;
    text-decoration: none;
    margin-left: 15%;
    font-size: 15pt;
}

.dash_selected_nav {
    color: var(--main-color) !important;
}

#dash_logout {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 20pt;
    color: #CCC;
}

.dash_main_container {
    display: flex;
    width: 85vw;
    min-height:100vh;
    max-height:100vh;
    overflow: scroll;
    background-color: #444;
}

.dash_message {
    display: flex;
    background-color: #CCC;
    margin: 5% 10% ;
    border-radius: 5px;
    width: 80%;
}

.dash_message table {
    width: 100%;
    border-collapse: collapse;
    margin: 2%;
    color: #333;
}

.dash_message thead, .dash_message tbody {
    width: 100%;
    text-align: center;
    background-color: var(--main-color);
}

.dash_message th,  .dash_message td{
    height: 50px;
}

.dash_message tbody tr:nth-child(odd) {
    background-color: rgb(211, 211, 211);
}
.dash_message tbody tr:nth-child(even) {
    background-color: rgb(196, 196, 196);
}

.dash_btn_supp_msg {
    color: red;
}


